{% extends 'base.html.twig' %}

{% block title %}Listdo de mis tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Listado de mis tareas</h2>

    {{ include('includes/listaTareas.html.twig') }}
</div>
{% endblock %}